@shortlyster:registry=https://compono-468203661337.d.codeartifact.ap-southeast-2.amazonaws.com/npm/shortlyster/
@compono:registry=https://compono-468203661337.d.codeartifact.ap-southeast-2.amazonaws.com/npm/shortlyster/
